<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Wilsoft-gm personal blog" />
    <meta name="keywords"
          content="blog, wilsoft, python, programming, javascript, tailwind"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
          href="{% static 'blog/fontawesome5112/css/all.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'blog/highlight/styles/base16/dracula.min.css' %}"/>
    <script src="{% static 'blog/highlight/highlight.min.js' %}"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/easymde/dist/easymde.min.css"/>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}" />
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="{% static 'blog/js/script.js' %}"></script>
    <script defer>hljs.highlightAll();</script>
    {% block title %}
      <title>This a temp title!</title>
    {% endblock title %}
  </head>
  <body class="before:content-[' '] before:block before:w-96 before:h-96 before:bg-green-900 before:absolute before:-z-10 before:translate-y-28 before:-translate-x-40 before:blur-3xl before:opacity-10">
    {% include "components/admin_top_bar.html" %}
    <div class="flex flex-row w-100 gap-4">
      <div class="ml-4 w-2/12">{% include "components/admin_nav_bar.html" %}</div>
      <div class="shadow-gray-400 bg-gray-100 shadow-inner rounded-xl w-full mr-4 flex">
        <div class="m-8 p-8 bg-white shadow-md w-full rounded-xl">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
