{% extends "blog/base.html" %}
{% block title %}
    <title>Wilsoft Blog</title>
{% endblock title %}
<!-- main container for all the cards/articles -->
{% block body %}
    <main class="container">
        <h2 class="font-bold text-xl mb-3">Ultimos articulos</h2>
        <section class="container mx-auto">
            {% if blogposts %}
                {% for post in blogposts %}
                    {% include "components/article_preview.html" with img=post.post_language.language_image.url title=post.post_title date=post.post_date id=post.id %}
                {% endfor %}
            {% endif %}
        </section>
    </main>
{% endblock body %}
