{% extends "blog/base.html" %}
{% load i18n %}
{% load markdown_parser %}
<!-- main container for the post content -->
{% block title %}
    <title>Wisoft ⇒ {{ postGet.post_title }}</title>
{% endblock title %}
{% block body %}
    <main class="mt-16 max-w-4xl mx-auto flex flex-col gap-10">
        {% if postGet %}
            <!-- main div for title, author and date, etc. -->
            <section class="flex flex-row gap-3 mb-5">
                <!-- post title -->
                <div class="w-24">
                    <img width="auto"
                         height="auto"
                         class="rounded-md"
                         src="{{ postGet.post_language.language_image.url }}"
                         alt="Profilepicture" />
                </div>
                <!-- author information -->
                <div class="flex flex-col justify-center">
                    <h2 class="text-6xl text-green-900 font-semi-bold">
                        {{ postGet.post_title }}
                        <a href="{% url 'admin_update_entry' postGet.id %}"><sup><i class="fa fa-pen text-base"></sup></i></a>
                    </h2>
                    <div class="flex flex-row gap-3">
                        {% if postGet.post_language.language_name %}
                            <span>{{ postGet.post_language.language_name }}</span>
                            <span>•</span>
                        {% endif %}
                        <span>{{ postGet.post_date }}</span>
                        <br />
                    </div>
                </div>
            </section>
            {% if postGet.post_image_header %}
                <img id="imageHeader"
                     class="rounded-md"
                     src="{{ postGet.post_image_header }}"
                     alt="shadow"
                     width="100%"
                     height="auto" />
                <!-- Heather image -->
            {% endif %}
            <!-- main div for the content -->
            <section id="blogPost" class="text-base max-w-3xl mx-auto">
                <!-- here django will render the content of the post -->
                {{ postGet.post_body| markdown |safe }}
            </section>
            <!-- bottom part for sharing links, who writted the doccument, etc -->
            <section>
                <!-- divisor -->
                <hr class="mb-2" />
                <!-- sharing links -->
                <div class="flex flex-row gap-2 text-3xl">
                    <a class="text-blue-600"
                       href="https://www.facebook.com/sharer/sharer.php?u=https://wilsonblog.herokuapp.com/blogentry?id={{ postGet.id }}"
                       target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="text-sky-600" href="#" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
                <hr class="mt-2" />
                <div class="flex flex-col p-3">
                    <!-- who writte the blog -->
                    <div class="flex flex-row gap-3 p-3 align-center">
                        <div class="w-28">
                            <img class="rounded"
                                 src=" {{ userinfo.user_profile.url }} "
                                 alt="Profilepicture"
                                 height="auto"
                                 width="auto" />
                        </div>
                        <div class="flex flex-col">
                            <span class="text-green-900 font-semibold">
                                {% trans "Escrito por" %}
                                {% if postGet.post_author.get_full_name %}
                                    {{ postGet.post_author.get_full_name }}
                                </span>
                            {% else %}
                                {{ postGet.post_author }}
                            {% endif %}
                            <p>{{ userinfo.user_bio }}</p>
                        </div>
                    </div>
                </div>
                <hr class="mt-0 m-3" />
                <!-- comments div -->
                <div class="conatiner">
                    <div class="p-2 rounded-t-md border border-solid border-1 bg-gray-100">{% trans "Comentarios" %}</div>
                    <div class="flex flex-col gap-4 p-4 rounded-b-md border border-solid border-x-1">
                        {% if comments %}
                            {% for j in comments %}
                                <div class="border border-1 border-solid rounded-md shadow-md shadow-gray-200">
                                    <div class="p-2">
                                        <h6 class="card-title">
                                            <strong>
                                                {% if j.comment_name %}
                                                    {{ j.comment_name }}
                                                {% elif j.comment_name == "" %}
                                                    {% trans "Anonimo" %}
                                                {% endif %}
                                            </strong> - {{ j.comment_date }}
                                        </h6>
                                        <p class="card-text">{{ j.comment_comment }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="border border-1 border-solid rounded-md shadow-md shadow-gray-200">
                                <p class="p-2">{% trans "No hay comentarios aun, pero tu puedes ser el primero! 😉" %}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- comment -->
                <hr class="my-4" />
                <!-- comment form -->
                <div class="flex flex-col" id="comments_div">
                    <h2>{% trans "Nuevo comentario" %}</h2>
                    <form action="#comments_div"
                          method="post"
                          class="flex flex-col gap-2 border border-gray-300 rounded-md p-4">
                        {% csrf_token %}
                        <input type="text"
                               class="shadow-md p-2 border border-gray-300 rounded-md focus:border-green-900 focus:border-2 focus:outline-none"
                               name="comment_name"
                               id="comment_name"
                               placeholder="Ingresa tu nombre" />
                        <input type="email"
                               class=" shadow-md p-2 border border-gray-300 rounded-md focus:border-green-900 focus:border-2 focus:outline-none"
                               name="comment_email"
                               id="comment_email"
                               aria-describedby="emailHelp"
                               placeholder="Ingresa tu email" />
                        <textarea class="shadow-md p-2 border border-gray-300 rounded-md focus:border-green-900 focus:border-2 focus:outline-none"
                                  name="comment_body"
                                  id="comment_body"
                                  rows="5"
                                  placeholder="Agrega tu comentario aqui"></textarea>
                        <small id="emailHelp" class="form-text text-muted">{% trans "Nunca compartiremos tu informacion personal" %}</small>
                        <button type="submit"
                                onclick="sendComment()"
                                class="border rounded-md p-2 border-green-900 text-green-900 hover:bg-green-900 hover:text-green-200">
                            {% trans "Enviar comentario" %}
                        </button>
                    </form>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock body %}
