<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{postGet.post_title}}">
    <meta property="og:description" content="{{ postGet.post_body|slice:':150'|striptags }}...">
    <meta property="og:image" content="{{ postGet.post_image_header }}">
    <meta property="og:url" content="https://wilsonblog.herokuapp.com/blogentry?id={{postGet.id}}">
    <meta name="twitter:card" content="summary_large_image">

    <title>{{postGet.post_title}}</title>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sons-of-obsidian"></script>
    <link rel="stylesheet" href="{% static 'blog/fontawesome5112/css/all.css' %}" type="text/css">
    <script src="{% static 'blog/js/script.js' %}"></script>
    
    <style>
        body {
            width: 100%;
            height: auto;
        }

        p {
            font-size: 20px;
            
        }

        #postBody {
            font-family: serif;
        }
    </style>
</head>

<body>
<input type="hidden" id="postid" name="variable" value="{{ postGet.id }}">
    <!-- navigation bar with a search box -->
    <nav class="navbar navbar-dark bg-dark shadow">
        <!-- title or brand -->
        <a class="navbar-brand text-white " href="/" style='white-space:normal'>Wilson blog / {{ postGet.post_title }}</a>

        <!-- search form -->
        <div class="row text-white justify-content-center align-items-center" style="text-align: center;">
            <!-- verificamos que el usuario este logueado -->

            <!-- verifico si el username recibido es diferente de anonimo -->
            {% if usernamelog == "AnonymousUser" %}
            <div class="col text-white">
                <!-- si es AnonymousUser quiere decir que no hay ningun usuario logueado -->
                <a class="text-info" href="accounts/login/">Login</a>
            </div>
            {% endif %}

            <!-- si estoy logueado me muestra otras opciones -->
            {% if usernamelog != "AnonymousUser" %}
            <!-- creamos un dropdown on las opciones principales -->

            <div class="col text-white">
                logged in as <u>{{usernamelog}}</u> / <a class="text-info" href="/logout">logout</a>
                <a class="text-info" href="/administracion"><i class="fas fa-cog"></i></a>
            </div>
            {% endif %}
        </div>
    </nav>

    <!-- main container for the post content -->
    <div class="container-fluid">
        {% if postGet %}


        <!-- main div for title, author and date, etc. -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-lg-5 m-5">
                <!-- post title -->
                <h1>{{ postGet.post_title }}</h1>
                <!-- author information -->
                <div class="row">
                    <div class="col-lg-1.5">
                        <img class="rounded-circle" src="{{ userinfo.adminFields_image.url }}" alt="Profilepicture" style="height:50px; width: auto">
                    </div>
                    <div class="col">
                    {% if postGet.post_author.get_full_name %}
                        {{postGet.post_author.get_full_name}} <br> {{ postGet.post_date }}
                    {% else %}
                        {{postGet.post_author}} <br> {{ postGet.post_date }}
                    {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Heather image -->
        <img class="" src="{{ postGet.post_image_header }}" alt="shadow" style="height: auto; width: 100%">

        <!-- main div for the content -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 bg-light shadow">
                <div class="row justify-content-center">

                    <!-- here django will render the content of the post -->
                    <div id="postBody" class="col-sm-11 blocentrie mt-4 mb-5" style="font-size: 20px">
                        {{ postGet.post_body|safe }}
                    </div>
                </div>

            </div>

        </div>

        <!-- bottom part for sharing links, who writted the doccument, etc -->
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-8">

                <!-- divisor -->
                <hr class="my-4">
                <!-- sharing links -->
                <div class="col" style="font-size: 30px">
                   <a href="https://www.facebook.com/sharer/sharer.php?u=https://wilsonblog.herokuapp.com/blogentry?id={{postGet.id}}"><i class="fab fa-facebook-square"></i></a>  <i class="fab fa-twitter-square"></i>
                </div>
                <hr class="my-4">
                <div class="col p-4">
                    <!-- who writte the blog -->
                    <div class="row">
                        <div class="col-lg-1.5">
                            <img class="rounded-circle" src=" {{userinfo.adminFields_image.url}} " alt="Profilepicture" style="Height:100px; width: auto">
                        </div>
                        <div class="col">
                            Writed by:
                            {% if postGet.post_author.get_full_name %}
                                {{postGet.post_author.get_full_name}}
                            {% else %}
                                {{postGet.post_author}}
                            {% endif %}
                            <p>{{userinfo.adminFields_bio}} </p>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <!-- comments div -->
                <div class="col" id="commentsDiv" style="font-size: 30px">
                    <div class="card">
                        <div class="card-header">
                            Coments
                        </div>
                        <div class="card-body">
                            
                            
                            {% if comments %}
                            {% for j in comments %}
                              
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <h6 class="card-title"> <strong>{{ j.comment_name }}</strong> on {{ j.comment_date }}</h6>
                                    <p class="card-text"> {{j.comment_comment}} </p>
                                </div>
                            </div>
                            
                            {% endfor %}
                            {% else %}
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <p class="card-text"> Nothing yet </p>
                                    </div>
                                </div>
                            {% endif %}



                        </div>
                    </div>
                    <!-- comment -->

                    <hr class="my-4">

                </div>
                <!-- comment form -->
                <div class="col p-4">

                    <h2>New comment</h2>
                    <form action="#commentsDiv" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="comment_name" id="comment_name" placeholder="Enter Name">
                        <input type="email" class="form-control" name="comment_email" id="comment_email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <textarea class="form-control" name="comment_body" id="comment_body" rows="5" placeholder="Add your comments here"></textarea>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                        <button type="submit" onclick="sendComment()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</body>

</html>