<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'blog/fontawesome5112/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog/hightlight/styles/base16/dracula.min.css' %}">
    <script src="{% static 'blog/hightlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    <title>wilsoft blog</title>
</head>

<body
    class="max-w-6xl mx-auto before:block before:w-96 before:h-96 before:bg-green-900 before:absolute before:-z-10 before:translate-y-28 before:-translate-x-80 before:blur-3xl before:opacity-10">
    <!-- navigation bar with a search box -->
    <nav class="flex flex-row justify-between align-middle m-7">
        <!-- title or brand -->
        <h1><a class="text-4xl font-bold" href="/">Wilson blog</a></h1>
        <!-- search form -->

        <!-- verifico si el username recibido es diferente de anonimo -->
        {% if usernamelog == "AnonymousUser" %}
        <div class="">
            <!-- si es AnonymousUser quiere decir que no hay ningun usuario logueado -->
            <a class="border rounded-md p-2 border-green-900 text-green-900 hover:bg-green-900 hover:text-green-200"
                href="accounts/login/">Login <i class="fas fa-sign-in-alt"></i></a>
        </div>
        {% endif %}

        <!-- si estoy logueado me muestra otras opciones -->
        {% if usernamelog != "AnonymousUser" %}
        <!-- creamos un dropdown on las opciones principales -->

        <div class="">
            logged in as <u class="font-semibold">{{usernamelog}}</u>
        </div>
        <div>
            <a class="border rounded-md p-2 border-red-600 text-red-600 mr-4 hover:bg-red-600 hover:text-red-200"
                href="/logout">logout <i class="fas fa-sign-out-alt"></i></a>
            <a class="border rounded-md p-2 border-teal-600 text-teal-600 hover:bg-teal-600 hover:text-teal-200"
                href="/administracion">Settings <i class="fas fa-cog"></i></a>
        </div>
        {% endif %}

    </nav>

    <!-- main container for all the cards/articles -->
    <main class="container">
        <h2 class="font-bold text-xl mb-3">Ultimos articulos</h2>
        <section class="container mx-auto">
            {% if blogposts %}
                {% for post in blogposts %}
                    {% include 'components/article_preview.html' with img=post.post_image_header title=post.post_title date=post.post_date id=post.id %}
                {% endfor %}
            {% endif %}
        </section>
    </main>


    <!-- footer at the very bottom of the page -->
    {% include 'components/footer.html' with top_comments=mostcommented top_views=views %}
</body>

</html>