{% extends "blog/adminbase.html" %}
{% block content %}
    {% if comments %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Post</th>
                    <th scope="col">Moderated</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for j in comments %}
                    <tr>
                        <th scope="row">{{ j.id }}</th>
                        <td>{{ j.comment_name }}</td>
                        <td>{{ j.comment_comment }}</td>
                        <td>{{ j.comment_post }}</td>
                        <td>
                            {% if j.comment_moderated == True %}
                                <i class="fas fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fas fa-times-circle text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if j.comment_moderated == True %}
                                <form method="post">
                                    <input type="hidden" name="commentid" value="{{ j.id }}" />
                                    <input type="hidden" name="moderated" value="False" />
                                    <button type="submit" class="btn btn-sm btn-success">Disable</button>
                                </form>
                            {% else %}
                                <form method="post">
                                    <input type="hidden" name="commentid" value="{{ j.id }}" />
                                    <input type="hidden" name="moderated" value="True" />
                                    <button type="submit" class="btn btn-sm btn-danger">Allow</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
