{% extends "blog/adminbase.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <!-- esta esto es para el titulo -->
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-heading"></i>
                </div>
            </div>
            <input type="text"
                   class="form-control"
                   id="entryTitle"
                   name="entryTitle"
                   {% if entry %} value="{{ entry.post_title }}"{% endif %}
                   placeholder="Post title"/>
        </div>
        <!-- esto es para la imagen heather -->
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-image"></i>
                </div>
            </div>
            <input type="text"
                   class="form-control"
                   id="entryImageHeader"
                   name="entryImageHeader"
                   {% if entry %} value="{{ entry.post_image_header }}"{% endif %}
                   placeholder="Header image"/>
        </div>
        <textarea class="" id="postBody" name="postBody" cols="30" rows="15" placeholder="Write your entry here!">
            {% if entry %} {{ entry.post_body | safe }}{% endif %}
                </textarea>
        <script type="text/javascript">const easyMDE = new EasyMDE();</script>
    </form>
{% endblock content %}
