{% extends "blog/adminbase.html" %}
{% block title %}
    <title>Wilsoft ⇒ Crear / Editar</title>
{% endblock title %}
{% block content %}
    {% include "components/resources_selection.html" with entryImageHeader="entryImageHeader" %}
    <form method="post" class="flex flex-col gap-3">
        {% csrf_token %}
        <!-- esta esto es para el titulo -->
        <div class="flex flex-row items-center">
            <div class="bg-gray-300 rounded-l p-2 border border-solid border-gray-300">
                <div class="m-0">
                    <i class="fas fa-heading"></i>
                </div>
            </div>
            <input type="text"
                   class="w-full h-100 rounded-r border border-solid border-gray-300 p-2 focus:outline-none focus:border-green-900"
                   id="entryTitle"
                   name="entryTitle"
                   {% if entry %}value="{{ entry.post_title }}"{% endif %}
                   placeholder="Titulo del post" />
        </div>
        <!-- esto es para la imagen heather -->
        <div class="flex flex-row items-center">
            <div class="bg-gray-300 rounded-l p-2 border border-solid border-gray-300">
                <div class="mb-0">
                    <i class="fas fa-image"></i>
                </div>
            </div>
            <input type="text"
                   class="w-10/12 h-100 rounded-r border border-solid border-gray-300 p-2 focus:outline-none focus:border-green-900"
                   id="entryImageHeader"
                   name="entryImageHeader"
                   {% if entry %}value="{{ entry.post_image_header }}"{% endif %}
                   placeholder="Imagen de cabecera" />
            <button type="button"
                    onclick="openSelectResource()"
                    class="w-2/12 h-100 rounded-r border border-solid border-gray-300 p-2 focus:outline-none focus:border-green-900">
                <i class="fas fa-image"></i> Seleccionar un archivo
            </button>
        </div>
        {% if languages %}
            <div class="flex flex-row items-center">
                <div class="bg-gray-300 rounded-l p-2 border border-solid border-gray-300">
                    <div class="mb-0">
                        <i class="fas fa-code"></i>
                    </div>
                </div>
                <select name="language"
                        id="language"
                        class="w-full h-full rounded-r border border-solid border-gray-300 p-2 focus:outline-none focus:border-green-900 bg-white"
                        value="{{ entry.post_language }}">
                    <option value="-"
                            class="text-gray-400 p-2"
                            {% if entry.post_language.id == "None" %}selected{% endif %}>Lenguage / Tema</option>
                    {% for lang in languages %}
                        <option value="{{ lang.id }}"
                                class="w-full p-2"
                                {% if entry.post_language.id == lang.id %}selected{% endif %}>
                            {{ lang.language_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <textarea class=""
                  id="postBody"
                  name="postBody"
                  cols="30"
                  rows="15"
                  placeholder="Write your entry here!">{% if entry %}{{ entry.post_body | safe }}{% endif %}</textarea>
        <script type="text/javascript">
            const easyMDE = new EasyMDE({
                toolbar: [ "undo", "redo", "|", "bold", "italic", "heading", "|", "quote", "image", "table", "link", "code", "unordered-list", "ordered-list", "|", "preview", "fullscreen", "|", "guide"]
            });
        </script>
        <div class="flex flex-row gap-3">
            <button class="border rounded-md p-2 border-green-700 text-green-700 hover:bg-green-700 hover:border-green-200 hover:text-green-200"
                    type="submit">
                <i class="fas fa-save"></i>
                {% if entry %}
                    Guardar
                {% else %}
                    Guardar nuevo post
                {% endif %}
            </button>
            {% if entry %}
                <a class="border rounded-md p-2 border-blue-700 text-blue-700 hover:bg-blue-700 hover:border-blue-200 hover:text-blue-200"
                   href="{% url 'blogentry' entry.id %}"><i class="fas fa-eye"></i> View</a>
            {% endif %}
            <a class="border rounded-md p-2 border-red-700 text-red-700 hover:bg-red-700 hover:border-red-200 hover:text-red-200"
               href="{% url 'admin_create_entry' %}"><i class="fas fa-times"></i> Cancel</a>
        </div>
    </form>
    <script>
        let active_new = document.querySelector("#menu_posts")
        active_new.classList.toggle("text-green-200")
        active_new.classList.toggle("bg-green-900")
        active_new.classList.toggle("active")

        const openSelectResource = () => {
            document.querySelector("#resources_selection").showModal()
        }
        const closeSelectResource = () => {
            document.querySelector("#resources_selection").close()
        }
    </script>
{% endblock content %}
