{% extends "blog/adminbase.html" %}
{% block title %}
    <title>Wilsoft ⇒ Entradas</title>
{% endblock title %}
{% block content %}
    <h2 class="text-4xl mb-8 text-green-900">Posts</h2>
    <table class="w-full border-collapse border-gray-400">
        <thead class="border-b-2">
            <tr>
                <th class="text-xl" scope="col-2">ID #</th>
                <th class="text-xl" scope="col-6">Titulo</th>
                <th class="text-xl" scope="col-2">Fecha</th>
                <th class="text-xl" scope="col-2">Opciones</th>
            </tr>
        </thead>
        {% if entries %}
            {% for i in entries %}
                <tbody>
                    <tr class="border-b">
                        <th class="p-2" scope="row">{{ i.id }}</th>
                        <td class="p-2">{{ i.post_title }}</td>
                        <td class="p-2">{{ i.post_date }}</td>
                        <td class="p-2 flex flex-row gap-3 justify-center items-center">
                            <a class="text-xl px-2 border border-solid rounded-md text-green-600 border-green-600 hover:text-green-100 hover:bg-green-600 hover:border-transparent"
                               href="{% url 'blogentry' i.id %}"
                               title="View"><i class="fas fa-eye"></i></a>
                            <a class="text-xl px-2 border border-solid rounded-md text-blue-600 border-blue-600 hover:text-blue-100 hover:bg-blue-600 hover:border-transparent"
                               href="{% url 'admin_update_entry' i.id %}"
                               title="Edit"><i class="fa fa-pen"></i></a>
                            <a class="text-xl px-2 border border-solid rounded-md text-red-600 border-red-600 hover:text-red-100 hover:bg-red-600 hover:border-transparent"
                               href="{% url 'admin_delete_entry' i.id %}"
                               title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        {% endif %}
    </table>
    <script>
        let active_new = document.querySelector("#menu_entries")
        active_new.classList.toggle("text-green-200")
        active_new.classList.toggle("bg-green-900")
        active_new.classList.toggle("active")
    </script>
{% endblock content %}
