{% extends "blog/adminbase.html" %}
{% block title %}
    <title>Wilsoft ⇒ Recursos</title>
{% endblock title %}
{% block content %}
    <script>
        function returnUrl(elements) {
            var texto = document.createElement("textarea");
            texto.value = elements.src;
            document.body.appendChild(texto)
            texto.select()
            document.execCommand("copy");
            document.body.removeChild(texto);
            document.getElementById("imageLink").innerHTML = texto.value
            $(".alert").show()
            setTimeout(function () { $(".alert").hide(); }, 5000);
        }

        function alertHide() {
            $(".alert").hide()
        }

        const showDialog = () => {
            document.querySelector("#dialogModal").showModal()
        }

        const hideDialog = () => {
            document.querySelector("#dialogModal").close()
            document.querySelector("#notDropping").classList.remove("hidden")
            document.querySelector("#dragEnter").classList.add("hidden")
            document.querySelector("#dropped").classList.add("hidden")
        }

        const selectFile = () => {
            document.querySelector("#imageDrop").click()
        }

        const onDragOver = (event) => {
            console.log("drag enter event")
            event.preventDefault()
            document.querySelector("#notDropping").classList.add("hidden")
            document.querySelector("#dragEnter").classList.remove("hidden")
        }

        const onDragLeave = (event) => {
            event.preventDefault()
            document.querySelector("#notDropping").classList.remove("hidden")
            document.querySelector("#dragEnter").classList.add("hidden")
        }

        const fileReceived = (event) => {
            console.log("ondrop triggered", event)
            event.preventDefault()
            document.querySelector("#notDropping").classList.add("hidden")
            document.querySelector("#dragEnter").classList.add("hidden")
            document.querySelector("#dropped").classList.remove("hidden")
            document.querySelector("#dropped").classList.add("flex")
        }

        const onChange = (event) => {
            fileReceived(event)
            document.querySelector("#droppedFileName").innerText = event.target.files[0].name
        }

        const onDrop = (event) => {
            fileReceived(event)
            document.querySelector("#imageDrop").files = event.dataTransfer.files
            document.querySelector("#droppedFileName").innerText = event.dataTransfer.files[0].name
        }


        let active_new = document.querySelector("#menu_resources")
        active_new.classList.toggle("text-green-200")
        active_new.classList.toggle("bg-green-900")
        active_new.classList.toggle("active")

    </script>
    <div onload="alertHide()">
        <!-- image container -->
        <dialog class=" backdrop:bg-black backdrop:opacity-70 rounded"
                id="dialogModal">
            <form class="border border-black text-center rounded"
                  method="post"
                  enctype="multipart/form-data"
                  ondragover="onDragOver(event)"
                  onDragLeave="onDragLeave(event)"
                  onDrop="onDrop(event)">
                {% csrf_token %}
                <input onChange="onChange(event)"
                       id="imageDrop"
                       type="file"
                       name="image"
                       hidden />
                <div id="notDropping" class="flex flex-col mx-40 my-12 ">
                    <i class="fas fa-file-download text-7xl mb-4"></i>
                    <p class="pointer-events-none">Suelta tu archivo aca</p>
                    <p class="pointer-events-none">o</p>
                    <button type="button"
                            onclick="selectFile()"
                            class="bg-green-100 border border-black rounded-full px-4 py-2">
                        Seleccionar el archivo
                    </button>
                </div>
                <div id="dragEnter" class="hidden pointer-events-none mx-40 my-28 ">
                    <p>Soltar el archivo aca!</p>
                </div>
                <div id="dropped" class="hidden flex-col gap-3 mx-40 my-12 ">
                    <i class="fas fa-file-upload text-7xl mb-4"></i>
                    <p id="droppedFileName" class="text-3xl font-bold"></p>
                    <div class="flex flex-row gap-3">
                        <button class="border border-green-900 text-green-900 py-2 px-3 rounded"
                                type="submit">save</button>
                        <button class="border border-red-600 text-red-600 py-2 px-3 rounded"
                                type="button"
                                onclick="hideDialog()">Cancelar</button>
                    </div>
                </div>
            </form>
        </dialog>
        <div class="flex flex-row justify-between align-middle mb-2">
            <h2 class="text-xl font-bold text-green-900">Recursos</h2>
            <button onclick="showDialog()"
                    class="border rounded-md p-2 border-green-700 text-green-700 hover:bg-green-700 hover:border-green-200 hover:text-green-200">
                <i class="fas fa-plus"></i> Subir nuevo recurso
            </button>
        </div>
        <hr class="mb-3" />
        <div id="imgcontainer" class="gap-3 columns-3">
            {% if images %}
                {% for i in images %}
                    <div class="group relative w-full h-auto mt-3">
                        <div class="hidden group-hover:block absolute text-red-600">
                            <a href="{% url 'admin_delete_resource' i.id %}"
                               class="text-danger mt-3 ml-3">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        <img class="w-full"
                             height=""
                             width=""
                             onclick="returnUrl(this)"
                             src="{{ i.imagefile.url }}"
                             alt="{{ i.imagefile.name }}" />
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="text-3xl font-bold text-green-900">No hay recursos para mostrar</h2>
            {% endif %}
        </div>
    </div>
{% endblock content %}
