{% load i18n %}
<div class="flex flex-col">
  <nav>
    <ul>
      <li id="menu_entries"
          class="flex rounded-t border-x border-t border-green-900 border-solid hover:border-r-8">
        <a class="w-full px-4 py-2" href="{% url 'admin_entries' %}">
          <i class="fas fa-edit"></i> {% trans "Entradas" %}
        </a>
      </li>
      <li id="menu_comments"
          class="flex cursor-pointer border-x border-t border-green-900 border-solid hover:border-r-8">
        <a class="w-full px-4 py-2" href="{% url 'admin_comments' %}">
          <i class="fas fa-comments"></i> {% trans "Comentarios" %}
        </a>
      </li>
      <li id="menu_posts"
          class="flex cursor-pointer border-x border-t border-green-900 border-solid hover:border-r-8">
        <a class="w-full px-4 py-2" href="{% url 'admin_create_entry' %}">
          <i class="fas fa-plus-square"></i> {% trans "Nuevo post" %}
        </a>
      </li>
      <li id="menu_resources"
          class="flex rounded-b border-x border border-green-900 border-solid hover:border-r-8">
        <a class="w-full px-4 py-2" href="{% url 'admin_resources' %}">
          <i class="fas fa-image"></i> {% trans "Recursos" %}
        </a>
      </li>
    </ul>
    <div class="flex flex-row w-100 gap-4 mt-2">
      <a class="w-1/2 px-4 py-2 border rounded border-teal-600 text-teal-600 hover:bg-teal-600 hover:text-teal-200"
         href="{% url 'admin:index' %}"><i class="fas fa-user-cog"></i> root</a>
      <a class="w-1/2 px-4 py-2 border rounded border-teal-600 text-teal-600 hover:bg-teal-600 hover:text-teal-200"
         href="{% url 'blog' %}"><i class="fas fa-home"></i> Blog</a>
    </div>
  </nav>
</div>
