<dialog id="resources_selection"
        class="backdrop:bg-black backdrop:opacity-70 w-2/3 max-h gap-3">
  <div>
    <h4>Choose a picture {{ entryImageHeader }}</h4>
    <div id="galery-images" class="columns-3">
      {% if resources %}
        {% for i in resources %}
          <img onclick="setHeaderImage(event)"
               class="mt-3 cursor-pointer"
               src="{{ i.imagefile.url }}"
               height="auto"
               width="auto"
               alt="{{ i.imagefile.name }}"/>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <script>
    const setHeaderImage = (event) => {
      console.log(event.target.src)
      document.querySelector("#{{entryImageHeader}}").setAttribute("value", event.target.src)
      document.querySelector("#resources_selection").close()
    }
  </script>
</dialog>
